html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #8dd3c6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.ant-typography {
  margin: 0 !important;
  padding: 0 !important;
  /* line-height: 0 !important; */
}