.layout {
    min-height: calc(100vh - 4rem);
}

.header,
.content,
.footer {
    display: flex;
    width: 90vw;
    max-width: 1300px;
    text-align: center;
    margin: 0 auto;
}

.header,
.footer {
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.content,
.title,
.subtitle {
    transition: all 0.13s ease-out;
}

.header {
    margin-top: 4rem;
    gap: 1rem;
}

.title {
    font-size: 2.7rem;
}

.subtitle {
    font-size: 1.3rem;
    line-height: 2rem;
}

.content {
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
}

.row {
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 210px;
    gap: 1rem;
    border: 0;
    border-radius: 1.5rem;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.cardCover {
    font-size: 3rem;
}

.cardMeta {
    font-size: 1rem;
    padding: 0 10px;
}

.cardMeta :global(.ant-card-meta-title) {
    font-size: 1.3rem;
    font-weight: bold;
}

.footer {
    margin-bottom: 4rem;
    padding: 0;
}

.footerCollapse {
    font-size: 1rem;
    max-width: 850px;
}

.footerCollapseLabel {
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.8rem;
    transition: all 0.2s ease;
}

.footerCollapseLabel:hover {
    background-color: #ffffff57;
}

@media(max-width: 600px) {
    .title {
        font-size: 2.3rem;
        line-height: 3rem;
    }

    .subtitle {
        font-size: 1.1rem;
    }
}