.header {
    position: sticky;
    width: 100%;
    top: 0;
    height: 4rem;
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
    border-bottom: 0;
    z-index: 100;
    align-items: center;
}

.flexContainer {
    max-width: min(90vw, 1500px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.flexLink {
    align-content: center;
    justify-items: center;
    padding: 0;
    margin: 0 4rem;
    transition: 0.3s ease;
    text-decoration: none;
}

.flexLink:hover {
    opacity: 0.8;
}

.flexMenu {
    justify-content: center;
    min-width: 40%;
    width: auto;
    line-height: 4rem;
    border: 0;
    margin: 0;
    font-size: 1rem;
}

.flexTitle {
    font-weight: bold !important;
}