.header {
    background-color: #f05e23;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
    border-bottom: 0;
    z-index: 100;
}

.container {
    display: flex;
    margin: 0 auto;
    padding: 0 1rem;
    height: 4rem;
    justify-content: space-between;
    max-width: min(100vw, 1500px);
    align-items: center;
}

.headerLink {
    max-width: fit-content;
    align-content: center;
    justify-items: center;
    margin: 0;
    padding: 0 2rem;
    transition: 0.3s ease;
    text-decoration: none;
}

.headerLink:hover {
    opacity: 0.6;
}

.headerMenu {
    justify-content: center;
    min-width: 38%;
    width: auto;
    line-height: 4rem;
    border: 0;
    margin: 0;
    font-size: 1rem;
}

.headerTitle {
    font-weight: bold !important;
}